h1 {
	padding:4px;
	text-align:center;
	border:4px double #000000;
	background:#FFFFDD;
}
h3 {
	padding:4px;
	border:1px solid #888;
	background:#ffd;
}
p {
	margin:10px;
}
.menu {
	font-size: 18px;
	padding:2px;
	border:4px double #000000;
	background:#FFFFFF;
}
.header {
	font-size: 18px;
	font-weight: bold;
	background:#BBBBDD;
	padding:2px;
}
.footer {
	font-size: 11px;
	text-align:center;
}
.version {
	font-weight: bold;
	text-decoration: underline;
}
.nalink {
	text-decoration: underline;
}
.news {
	border-bottom:1px dotted #BBBBDD;
}
.mdsum {
	font-size: 11px;
	text-align:center;
}
