<!DOCTYPE html>
<span style='
  color: #084298;background-color:#cfe2ff;border-color:#b6d4fe;
  display:flex;position:relative;gap:0.5rem;padding:.50rem 1.75rem;
  margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size:1rem;font-weight:400;box-sizing:border-box;line-height:1.5;
'>
  Mirror of <b><a href="glftpd.io">glftpd.io</a></b> | Git: <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> / <a href="https://bitbucket.org/silv3rr/silv3rr.bitbucket.io">files</a> | Archive mirror: <a href="https://archive.glftpd.nl.eu.org">archive.glftpd.nl.eu.org</a>
</span>
{% include index.html %}
