<!DOCTYPE html>
<span style='
  color: #084298;background-color:#cfe2ff;border-color:#b6d4fe;
  display:flex;position:relative;gap:0.5rem;padding:.50rem 1.75rem;
  margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem;
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size:1rem;font-weight:400;box-sizing:border-box;line-height:1.5;
'>
  Mirror of <b>glftpd.io</b> <a href="https://gitlab.com/silv3rr/io.glftpd.ga/-/tree/main/files">ARM MIPS binaries</a>| Repository: <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> | Archive mirror: <a href="https://archive.glftpd.ga">https://archive.glftpd.ga</a>
</span>
{% include index.html %}
